body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-merriweather: Merriweather;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-9xl: 28px;

  /* Colors */
  --color-black: #000;

  /* Gaps */
  --gap-xl: 20px;
}
